!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Send The Workers
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    /[if lt IE 8]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    = yield

    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-42949369-2');ga('send','pageview');
    = javascript_include_tag "application", "data-turbolinks-track" => true
    :javascript
      $(".main").onepage_scroll({
         sectionContainer: "section",
         easing: "ease",
         animationTime: 700,
         pagination: true,
         updateURL: false,
         beforeMove: function(index) {},
         afterMove: function(index) {},
         loop: false,
         responsiveFallback: false
      });